@keyframes arrow {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(4px);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes like {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon:hover .main-body {
  fill: var(--color-heart-contour);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--color-heart-contour);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--color-heart-accent, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--color-heart-accent, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked {
  transform-origin: center center;
  animation: like 0.3s ease-in 1 alternate 0.1s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-heart-accent, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color-heart-accent, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--color-heart-accent, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .sparks {
  fill: var(--color-heart-accent, #ff0000);
  opacity: 0;
  animation: sparks 0.3s ease-in 1 alternate 0.3s;
}
